body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(19, 18, 18);
}

.portfolio-section {
  padding: 20px;
  background-color: #1a1a1a; 
  color: #fff;
  margin-bottom: 200px; 
}

.portfolio-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 20px;
  width: 100%;
}

.portfolio-item {
  background-color: #333; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  width: 30%; 
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:nth-child(odd) {
  margin-left: 10%; 
  align-self: flex-start; 
}

.portfolio-item:nth-child(even) {
  margin-right: 10%; 
  align-self: flex-end; 
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.03);
}

.portfolio-item .project-title {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.project-description {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .portfolio-item {
    width: 80%; 
    margin-left: 10% !important;
    margin-right: 10% !important;
    align-self: center !important;
  }

  .portfolio-item:nth-child(odd),
  .portfolio-item:nth-child(even) {
    margin-left: 10%;
    margin-right: 10%;
  }
}   

.section-title {
  text-align: center; 
  font-size: 4rem; 
  color: #f6f8fa; 
  margin: 20px 0;
  font-weight: bold;
  animation: fadeInAndScaleUp 1s ease forwards; 
}

@keyframes fadeInAndScaleUp {
  0% {
      opacity: 0;
      transform: scale(0.8); 
  }
  100% {
      opacity: 1;
      transform: scale(1); 
  }
}
